# PyCity Schools Analysis

-----
Of the schools analysed, most students are passing reading and maths.
The best schools are typically independent schools and the lowest rank schools are typically Government schools.
Bailey High - is an outlier as it is a high performing Government School, whereas, WIlson High is an underperforming independent school.

Within most schools the level of maths and reading performance remained the same throughout the year levels. The exception is Holden High, where the year 10 math's results appear to be a minor outlier in performance. The reasons remain unclear, possibly it could relate to the students - are they coming in from other schools or overseas; it could relate to a particular teacher or department - i.e. a particularly strong teaching group for that cohort, or it could be an outlier without any cause. Further analysis should be undertaken to review this information.

Within this districts schools, the spending efficiency was quite high with more students passing maths and reading with lower spends.
Expenditure of $585-630/child appeared to correlate with the best outcomes.
Within the district smaller schools performed better for reading and maths than larger schools.

-----

In [9]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [10]:
# check data has merged properly without missed results
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
year             39170
school_name      39170
reading_score    39170
maths_score      39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

## District Summary

In [11]:
# Calculate the total number of unique schools
school_count = len(pd.unique(school_data_complete["school_name"]))
school_count

15

In [12]:
# Calculate the total number of students
student_count = len(pd.unique(school_data_complete["Student ID"]))
student_count

39170

In [13]:
# Calculate the total budget
total_budget = sum(school_data["budget"])
total_budget

24649428

In [15]:
# Calculate the average (mean) math score

average_math_score = school_data_complete["maths_score"].mean()
average_math_score

70.33819249425581

In [16]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

69.98013786060761

In [17]:
# Use the following to calculate the percentage of students who passed math
math_50 = school_data_complete.loc[(school_data_complete["maths_score"]>=50),:]
num_math_50 = len(math_50)
print(num_math_50)

total = float(student_count)
print(total)

33717
39170.0

In [19]:
# Use the following to calculate the percentage of students who passed math 
passing_math_count = school_data_complete[(school_data_complete["maths_score"] >= 50)].count()["Student ID"]
print(passing_math_count)

# pass % using 50 as cutoff
passing_math_percentage = passing_math_count * 100 / float(student_count)
passing_math_percentage

33717

86.07863160582077

In [20]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[school_data_complete["reading_score"] >=50].count()["Student ID"]

print(passing_reading_count)
print(float(student_count))

passing_reading_percentage = passing_reading_count *100 / float(student_count)
passing_reading_percentage

33070
39170.0

84.42685728874139

In [21]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["maths_score"] >= 50) & (school_data_complete["reading_score"] >= 50)
].count()["Student ID"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

72.80827163645647

In [22]:
# Create a high-level snapshot of the district's key metrics in a DataFrame (this is the default jupyter page provided in the Monash Challenge files)
# This box uses a passing score of 50 as dictated in the criteria above
# summary
summary = {"Total Schools": [school_count], 
           "Total Students": student_count,
           "Total Budget": total_budget,
           "Average Maths Score": average_math_score,
           "Average Reading Score": average_reading_score,
           "% Passing Maths": passing_math_percentage,
           "% Passing Reading": passing_reading_percentage,
           "% Overall Passing": overall_passing_rate}

district_summary = pd.DataFrame(summary)
district_summary

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary

In [23]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]

school_types

school_name
Huang High School         Government
Figueroa High School      Government
Shelton High School      Independent
Hernandez High School     Government
Griffin High School      Independent
Wilson High School       Independent
Cabrera High School      Independent
Bailey High School        Government
Holden High School       Independent
Pena High School         Independent
Wright High School       Independent
Rodriguez High School     Government
Johnson High School       Government
Ford High School          Government
Thomas High School       Independent
Name: type, dtype: object

In [24]:
# Calculate the total student count per school from school_data
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [25]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data.set_index(["school_name"])["budget"]
per_school_capita = per_school_budget / per_school_counts

per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [27]:
# grouped df
grouped_school_df = school_data_complete.groupby(["school_name"])

# Calculate the average test scores per school from school_data_complete
per_school_math = grouped_school_df["maths_score"].mean()
per_school_reading = grouped_school_df["reading_score"].mean()

In [29]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = school_data_complete.loc[(school_data_complete["maths_score"]>=50),:]
school_students_passing_math = students_passing_math.groupby(["school_name"])["maths_score"].count()

school_students_passing_math

school_name
Bailey High School       4560
Cabrera High School      1688
Figueroa High School     2408
Ford High School         2258
Griffin High School      1339
Hernandez High School    3752
Holden High School        384
Huang High School        2383
Johnson High School      3907
Pena High School          882
Rodriguez High School    3631
Shelton High School      1612
Thomas High School       1371
Wilson High School       1890
Wright High School       1652
Name: maths_score, dtype: int64

In [30]:
# Calculate the number of students per school with reading scores of 50 or higher from school_data_complete
students_passing_reading = school_data_complete.loc[(school_data_complete["reading_score"]>=50),:]
school_students_passing_reading = students_passing_reading.groupby(["school_name"])["reading_score"].count()

school_students_passing_reading

school_name
Bailey High School       4348
Cabrera High School      1655
Figueroa High School     2442
Ford High School         2252
Griffin High School      1299
Hernandez High School    3795
Holden High School        378
Huang High School        2376
Johnson High School      3903
Pena High School          833
Rodriguez High School    3495
Shelton High School      1527
Thomas High School       1351
Wilson High School       1856
Wright High School       1560
Name: reading_score, dtype: int64

In [31]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete.loc[
    (school_data_complete["reading_score"] >= 50) & (school_data_complete["maths_score"] >= 50)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

school_students_passing_math_and_reading

school_name
Bailey High School       3985
Cabrera High School      1501
Figueroa High School     1995
Ford High School         1848
Griffin High School      1194
Hernandez High School    3076
Holden High School        337
Huang High School        1946
Johnson High School      3199
Pena High School          762
Rodriguez High School    3176
Shelton High School      1389
Thomas High School       1136
Wilson High School       1540
Wright High School       1435
dtype: int64

In [32]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [33]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Type": school_types,
                                    "Total Students": per_school_counts,
                                    "Total School Budget": per_school_budget,
                                    "Per Student Budget": per_school_capita,
                                    "Average Math Score": per_school_math,
                                    "Average Reading Score": per_school_reading,
                                    "Number of Students Passing Maths": school_students_passing_math,
                                    "Number of Students Passing Reading": school_students_passing_reading,
                                    "% Passing Math": per_school_passing_math,
                                    "% Passing Reading": per_school_passing_reading,
                                    "% Overall Passing": overall_passing_rate})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Number of Students Passing Maths,Number of Students Passing Reading,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,4560,4348,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,1688,1655,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,2408,2442,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,2258,2252,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,1339,1299,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,3752,3795,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,384,378,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,2383,2376,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,3907,3903,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,882,833,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,3631,3495,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,1612,1527,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,1371,1351,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,1890,1856,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,1652,1560,91.777778,86.666667,79.722222

## Highest-Performing Schools (by % Overall Passing)

In [34]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(["% Overall Passing"], ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Number of Students Passing Maths,Number of Students Passing Reading,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,,,
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,1339,1299,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,1688,1655,90.850377,89.074273,80.785791
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,4560,4348,91.639871,87.379421,80.084405
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,1652,1560,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,3631,3495,90.797699,87.396849,79.419855

## Bottom Performing Schools (By % Overall Passing)

In [35]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(["% Overall Passing"], ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Number of Students Passing Maths,Number of Students Passing Reading,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,,,
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,3752,3795,80.949299,81.877023,66.364617
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,2383,2376,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,3907,3903,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,1890,1856,82.785808,81.296540,67.455103
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,2258,2252,82.438846,82.219788,67.469880

## Math Scores by Grade

In [47]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["year"] == 9)]
tenth_graders = school_data_complete[(school_data_complete["year"] == 10)]
eleventh_graders = school_data_complete[(school_data_complete["year"] == 11)]
twelfth_graders = school_data_complete[(school_data_complete["year"] == 12)]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = school_data_complete.loc[school_data_complete["year"] == 9].groupby(["school_name"])["maths_score"].mean()
tenth_grader_math_scores = school_data_complete.loc[school_data_complete["year"] == 10].groupby(["school_name"])["maths_score"].mean()
eleventh_grader_math_scores = school_data_complete.loc[school_data_complete["year"] == 11].groupby(["school_name"])["maths_score"].mean()
twelfth_grader_math_scores = school_data_complete.loc[school_data_complete["year"] == 12].groupby(["school_name"])["maths_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th Grade Mean Math Score": ninth_grade_math_scores,
                                     "10th Grade Mean Math Score": tenth_grader_math_scores,
                                     "11th Grade Mean Math Score": eleventh_grader_math_scores,
                                     "12th Grade Mean Math Score": twelfth_grader_math_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

,9th Grade Mean Math Score,10th Grade Mean Math Score,11th Grade Mean Math Score,12th Grade Mean Math Score
Bailey High School,72.493827,71.897498,72.374900,72.675097
Cabrera High School,72.321970,72.437768,71.008299,70.604712
Figueroa High School,68.477804,68.331586,68.811001,69.325282
Ford High School,69.021609,69.387006,69.248862,68.617811
Griffin High School,72.789731,71.093596,71.692521,71.469178
Hernandez High School,68.586831,68.867156,69.154412,68.985075
Holden High School,70.543307,75.105263,71.640777,73.409639
Huang High School,69.081754,68.533246,69.431345,68.639316
Johnson High School,69.469286,67.990220,68.637730,69.287393
Pena High School,71.996364,72.396000,72.523438,71.187845
Rodriguez High School,71.940722,71.779808,72.364811,72.154626
Shelton High School,72.932075,72.506696,70.097087,72.331536
Thomas High School,69.234273,70.057007,69.657831,69.369822
Wilson High School,69.212361,69.455446,68.378965,69.787472
Wright High School,71.741176,72.179012,73.275862,70.848238

## Reading Score by Grade

In [48]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["year"] == 9)]
tenth_graders = school_data_complete[(school_data_complete["year"] == 10)]
eleventh_graders = school_data_complete[(school_data_complete["year"] == 11)]
twelfth_graders = school_data_complete[(school_data_complete["year"] == 12)]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = school_data_complete.loc[school_data_complete["year"] == 9].groupby(["school_name"])["reading_score"].mean()
tenth_grader_reading_scores = school_data_complete.loc[school_data_complete["year"] == 10].groupby(["school_name"])["reading_score"].mean()
eleventh_grader_reading_scores = school_data_complete.loc[school_data_complete["year"] == 11].groupby(["school_name"])["reading_score"].mean()
twelfth_grader_reading_scores = school_data_complete.loc[school_data_complete["year"] == 12].groupby(["school_name"])["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th Grade Mean Reading Score": ninth_grade_reading_scores,
                                     "10th Grade Mean Reading Score": tenth_grader_reading_scores,
                                     "11th Grade Mean Reading Score": eleventh_grader_reading_scores,
                                     "12th Grade Mean Reading Score": twelfth_grader_reading_scores})


# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th Grade Mean Reading Score", "10th Grade Mean Reading Score", "11th Grade Mean Reading Score", "12th Grade Mean Reading Score"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

,9th Grade Mean Reading Score,10th Grade Mean Reading Score,11th Grade Mean Reading Score,12th Grade Mean Reading Score
Bailey High School,70.901920,70.848265,70.317346,72.195525
Cabrera High School,71.172348,71.328326,71.201245,71.856021
Figueroa High School,70.261682,67.677588,69.152327,69.082126
Ford High School,69.615846,68.988701,70.735964,68.849722
Griffin High School,72.026895,70.746305,72.385042,69.434932
Hernandez High School,68.477569,70.621842,68.418199,69.244136
Holden High School,71.598425,71.096491,73.310680,70.481928
Huang High School,68.670616,69.516297,68.740638,68.671795
Johnson High School,68.719286,69.295029,69.969115,67.992521
Pena High School,70.949091,72.324000,71.703125,71.513812
Rodriguez High School,70.902921,70.137500,71.424453,71.414449
Shelton High School,70.715094,69.879464,71.150485,69.070081
Thomas High School,69.672451,69.741093,70.749398,68.730769
Wilson High School,68.683043,68.412541,68.796327,69.888143
Wright High School,71.823529,71.386831,70.475862,69.821138

## Scores by School Spending

In [49]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [50]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary.copy()

In [51]:
# reformat cells
school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].replace({'\$': '', ',': ''}, regex=True)
school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].astype('float64')

# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], spending_bins, labels=labels)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Number of Students Passing Maths,Number of Students Passing Reading,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",628.0,72.352894,71.008842,4560,4348,91.639871,87.379421,80.084405,$585-630
Cabrera High School,Independent,1858,"$1,081,356.00",582.0,71.657158,71.359526,1688,1655,90.850377,89.074273,80.785791,<$585
Figueroa High School,Government,2949,"$1,884,411.00",639.0,68.698542,69.077993,2408,2442,81.654798,82.807731,67.650051,$630-645
Ford High School,Government,2739,"$1,763,916.00",644.0,69.091274,69.572472,2258,2252,82.438846,82.219788,67.469880,$630-645
Griffin High School,Independent,1468,"$917,500.00",625.0,71.788147,71.245232,1339,1299,91.212534,88.487738,81.335150,$585-630
Hernandez High School,Government,4635,"$3,022,020.00",652.0,68.874865,69.186408,3752,3795,80.949299,81.877023,66.364617,$645-680
Holden High School,Independent,427,"$248,087.00",581.0,72.583138,71.660422,384,378,89.929742,88.524590,78.922717,<$585
Huang High School,Government,2917,"$1,910,635.00",655.0,68.935207,68.910525,2383,2376,81.693521,81.453548,66.712376,$645-680
Johnson High School,Government,4761,"$3,094,650.00",650.0,68.843100,69.039277,3907,3903,82.062592,81.978576,67.191766,$645-680
Pena High School,Independent,962,"$585,858.00",609.0,72.088358,71.613306,882,833,91.683992,86.590437,79.209979,$585-630
Rodriguez High School,Government,3999,"$2,547,363.00",637.0,72.047762,70.935984,3631,3495,90.797699,87.396849,79.419855,$630-645
Shelton High School,Independent,1761,"$1,056,600.00",600.0,72.034072,70.257808,1612,1527,91.538898,86.712095,78.875639,$585-630
Thomas High School,Independent,1635,"$1,043,130.00",638.0,69.581651,69.768807,1371,1351,83.853211,82.629969,69.480122,$630-645
Wilson High School,Independent,2283,"$1,319,574.00",578.0,69.170828,68.876916,1890,1856,82.785808,81.296540,67.455103,<$585
Wright High School,Independent,1800,"$1,049,400.00",583.0,72.047222,70.969444,1652,1560,91.777778,86.666667,79.722222,<$585

In [52]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

C:\Users\mtklu\AppData\Local\Temp\ipykernel_21932\3978015375.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
C:\Users\mtklu\AppData\Local\Temp\ipykernel_21932\3978015375.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
C:\Users\mtklu\AppData\Local\Temp\ipykernel_21932\3978015375.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
C:\Users\mtklu\AppData\Local\Temp\ipykernel_21932\3978015375.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
C:\Users\mtklu\AppData\Local\Temp\ipykernel_21932\3978015375.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [53]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Average Math Score": spending_math_scores,
                    "Average Reading Score": spending_reading_scores,
                    "% Passing Math": spending_passing_math,
                    "% Passing Reading": spending_passing_reading,
                    "% Overall Passing": overall_passing_spending})

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,71.364587,70.716577,88.835926,86.390517,76.721458
$585-630,72.065868,71.031297,91.518824,87.292423,79.876293
$630-645,69.854807,69.838814,84.686139,83.763585,71.004977
$645-680,68.884391,69.045403,81.568470,81.769716,66.756253

## Scores by School Size

In [54]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [55]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(school_spending_df["Total Students"], size_bins, labels=labels)
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Number of Students Passing Maths,Number of Students Passing Reading,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,4560,4348,91.639871,87.379421,80.084405,Large (2000-5000)
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,1688,1655,90.850377,89.074273,80.785791,Medium (1000-2000)
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,2408,2442,81.654798,82.807731,67.650051,Large (2000-5000)
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,2258,2252,82.438846,82.219788,67.469880,Large (2000-5000)
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,1339,1299,91.212534,88.487738,81.335150,Medium (1000-2000)
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,3752,3795,80.949299,81.877023,66.364617,Large (2000-5000)
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,384,378,89.929742,88.524590,78.922717,Small (<1000)
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,2383,2376,81.693521,81.453548,66.712376,Large (2000-5000)
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,3907,3903,82.062592,81.978576,67.191766,Large (2000-5000)
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,882,833,91.683992,86.590437,79.209979,Small (<1000)
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,3631,3495,90.797699,87.396849,79.419855,Large (2000-5000)
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,1612,1527,91.538898,86.712095,78.875639,Medium (1000-2000)
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,1371,1351,83.853211,82.629969,69.480122,Medium (1000-2000)
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,1890,1856,82.785808,81.296540,67.455103,Large (2000-5000)
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,1652,1560,91.777778,86.666667,79.722222,Medium (1000-2000)

In [56]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

C:\Users\mtklu\AppData\Local\Temp\ipykernel_21932\3588142246.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
C:\Users\mtklu\AppData\Local\Temp\ipykernel_21932\3588142246.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
C:\Users\mtklu\AppData\Local\Temp\ipykernel_21932\3588142246.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
C:\Users\mtklu\AppData\Local\Temp\ipykernel_21932\3588142246.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
C:\Users\mtklu\AppData\Local\Temp\ipykernel_21932\3588142246.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [57]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({"Average Math Score": size_math_scores,
                    "Average Reading Score": size_reading_scores,
                    "% Passing Math": size_passing_math,
                    "% Passing Reading": size_passing_reading,
                    "% Overall Passing": size_overall_passing})
# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,78.039785
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

## Scores by School Type

In [58]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [59]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({"Average Math Score": average_math_score_by_type,
                "Average Reading Score": average_reading_score_by_type,
                "% Passing Math": average_percent_passing_math_by_type,
                "% Passing Reading": average_percent_passing_reading_by_type,
                "% Overall Passing": average_percent_overall_passing_by_type})

# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340